.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #ababab;
  box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.562);
}

.card-container.high {
  background-color: #ff00003c;
}

.card-container.medium {
  background-color: #ffa5003c;
}

.card-container.low {
  background-color: #0080003c;
}